:root {
  --primary: #bbf1a6;
  --primary-side: #4ec1be;
  --secondary-light: #e1e1e1;
  --secondary-dark: #444;
  --secondary: #999;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,700&display=swap");

body {
  margin: 0;
  background-image: url(../img/pokepattern.jpg);
  background-position: center;
  background-attachment: fixed;
}

body * {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-dark);
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}
